@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$darkBlue: #2D3047;
$lightBlue: #9CDFE8;
$white: #DEF5F7;

$titleFont: 'Supermercado One', cursive;
$bodyFont: 'Roboto', sans-serif;